[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
requests = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
Flask-Limiter = "*"

[dev-packages]

[requires]
python_version = "3.10"
